{#
/**
 * @file
 * Theme implementation to display a Geojson Leaflet map.
 *
 * This creates a placeholder for the map to be injected in (@see Leaflet)
 *
 * Available variables:
 * - map_id
 * - height
 *
 * Note: min-width is set so that a map will show when "Inline" is specified
 * for the associated field label. This may of course be overridden. The default
 * field label style is "Above" with a width of 100%.
 *
 * @ingroup themeable
 *
 */
#}
<div class="block-map-loading-wrapper">
  <div class="ajax-progress ajax-progress-throbber">
    <div class="throbber">&nbsp;</div>
  </div>
</div>
{% include '@leaflet/leaflet-map.html.twig' %}
